img {
    
    height: 400px;
    // object-fit: contain;
    

    border-radius: 8px;
    justify-content: center;
  }

// :host {
//   display: block;
//   max-width: 100%;
// }

// .container-1 app-card {
//     height: 400px;
//     width: 460px;

//   }
  