<!-- Modal -->
<div
	class="modal {{ addStyle }}"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
    >
	<div class="modal-dialog modal-dialog-scrollable" >
		<div class="modal-content">
			<div class="modal-header justify-content-center d-flex">
				<h1 class="modal-title fs-5" id="exampleModalLabel" style="justify-content: start;">ช่องทางการติดต่อผู้พัฒนา</h1>
                <!-- <button type="button" class="close custom-close-btn" data-dismiss="modal" aria-label="Close" (click)="onNoClick()" style="justify-content: end; ">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
			</div>
			<div class="modal-body">
        <!-- <h4></h4> -->
				<p>
					
					สามารถติดต่อได้ผ่าน Email : tinh.cha@student.mahidol.edu<br>โทรศัพท์ : 091-096-8926
        </p><p>
					
        </p><p>     หรือติดต่อ ภาควิชาวิศวกรรมคอมพิวเตอร์
					คณะวิศวกรรมศาสตร์ <br>มหาวิทยาลัยมหิดล
				</p>
			</div>
			<div class="modal-footer d-flex justify-content-center" >
				
				<button type="button" class="btn btn-success" (click)="onNoClick()" style="font-size: medium;">ปิดหน้าต่างนี้</button>
			</div>
		</div>
	</div>
</div>
