// .modal-body {
//     text-indent: 2.5rem;
// }

.modal {
    transition: opacity
}

.custom-close-btn {
    background-color: #ffffff;
    border: none;
    outline: none;
}

.custom-close-btn span {
    color: #000000;
}