<!-- Modal -->
<div
	class="modal {{ addStyle }}"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<h1 class="modal-title fs-5" id="exampleModalLabel">ประกาศนโยบายความเป็นส่วนตัว</h1>
			</div>
			<div class="modal-body">
        <h4>ประกาศนโยบายความเป็นส่วนตัวเพื่อการจัดทำโครงงานของนักศึกษา</h4>
				<p>
					
					การตกลงเข้าใช้งานเว็บไซต์นี้ถือว่าผู้ใช้งานยอมรับข้อกำหนดและเงื่อนไขต่าง ๆ
					ในการใช้งานเว็บไซต์นี้ทั้งหมดและทราบว่า นักษาศึกษา จะดำเนินการเก็บรวบรวมใช้ เปิดเผย
					โอนหรือประมวลผลข้อมูลส่วนบุคคลทั้งหลายซึ่งท่ายได้ให้แก่ นักศึกษา อันได้แก่ รูปภาพ ชื่อ นามสกุล เบอร์โทรศัพท์
					เพื่อวัตถุประสงค์ในการใช้งานเว็บไซต์นี้ นักษาศึกษา
					จะเปิดเผยหรือโอนข้อมูลส่วนบุคคลท่านให้แก่บุคคลที่สามตามที่ระบุไว้ด้านล่างนี้เพื่อวัตถุประสงค์ดังกล่าวข้างต้น -
        </p><p>
					นักศึกษาภาควิชาคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยมหิดล
					ที่มีอำนาจควบคุมไม่ว่าจะโดยตรงหรือโดยอ้อมอยู่ภายใต้การควบคุมของ นักศึกษา
					ซึ่งการควบคุมอาจเป็นรูปแบบของอำนาจการบริหารจัดการ การปรับเปลี่ยนข้อมูล หรืออื่น ๆ 
        </p><p> นักศึกษาภาควิชาคอมพิวเตอร์
					คณะวิศวกรรมศาสตร์ มหาวิทยาลัยมหิดล ทั้งนี้ หากท่านไม่ยินยอมให้ นักศึกษา เก็บรวบรวมใช้ เปิดเผย โอน
					หรือประมวลผลข้อมูลส่วนบุคคลของท่าน นักศึกษา
					จะไม่สามารถดำเนินการประมวลผลภาพเพื่อให้บรรลุตามวัตถุประสงค์ของโปรแกรมประยุกต์บนเว็บนี้ได้ นักศึกษา
					จะเก็บรักษาข้อมูลส่วนบุคคลระยะเวลาของโครงงานนี้ และต่อเนื่องไปอีกเป็นระยะเวลา 1 เดือน อนึ่ง นักศึกษา
					ขอรับรองว่าจะเก็บข้อมูลส่วนบุคคลของท่านไว้ในที่ปลอดภัย
					ซึ่งเฉพาะผู้ที่รับอนุญาตเท่านั้นจึงจะสามารถเข้าถึงข้อมูลเหล่านี้ได้ และ นักศึกษา
					จะทำลายข้อมูลทันทีเมื่อพ้นระยะเวลาการเก็บรักษาข้อมูล
					ท่านมีสิทธิทุกประการตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 ได้กำหนดไว้
				</p>
			</div>
			<div class="modal-footer d-flex justify-content-center" >
				<div class="form-check form-check-inline" >
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" [(ngModel)]="checkPDPA" />
					<label class="form-check-label" for="inlineCheckbox1" style="color:dimgray;"
						>ข้าพเจ้าได้อ่านและเข้าใจในรายละเอียดของประกาศนโยบายความเป็นส่วนตัวเพื่อการศึกษาตามโครงงานของนักศึกษาภาควิชาคอมพิวเตอร์
						คณะวิศวกรรมศาสตร์ มหาวิทยาลัยมหิดล</label
					>
				</div>
				<button type="button" class="btn btn-success" (click)="closePdpa()" [disabled]="checkPDPA!=true" (click)="checkPDPAChange.emit(checkPDPA)">ยืนยัน</button>
			</div>
		</div>
	</div>
</div>
