<div class=" d-flex flex-column  text-white">
    <!-- <div class="alert alert-light" role="alert">
        <h3>ในกรณีสามารถติดตามผู้สูญหายได้ สามารถตรวจสอบข้อมูลเบื้องต้นของผู้สูญหาย เช่น อายุ ได้จากการเปิด webcam เพื่อใช้ model face api ในการตรวจสอบ</h3>
    </div> -->
    <div class="card-banner" style="height:250px; background-image: url('http://bootstrap-ecommerce.com/main/images/posts/2.jpg');">
        <article class="overlay overlay-cover d-flex align-items-center justify-content-center">
          <div class="text-center">
              <h3 class="card-title">ในกรณีสามารถติดตามผู้สูญหายได้ สามารถตรวจสอบข้อมูลเบื้องต้นของผู้สูญหาย <br>เช่น อายุ ได้จากการเปิด webcam เพื่อใช้ model face api ในการตรวจสอบ</h3>
              <!-- <a href="#" class="btn btn-warning btn-sm"> View more </a> -->
          <br>
              <button type="button" class="btn btn-outline-warning btn-sm" (click)="openCameraModal()"><h3>ตรวจสอบใบหน้าด้วย Web cam</h3></button>
          </div>
        </article>
      </div> <!-- card.// -->
      
    <!-- <div class="text-center justify-content-center" style="padding-top: 20px; align-items: center;">
        <button type="button" class="btn btn-tertiary " (click)="openCameraModal()">ตรวจสอบใบหน้าด้วย Web cam</button>
    </div> -->
    <hr>
   <app-gen-detect-face></app-gen-detect-face>




</div>